



.game-container{
    width: 500px;
    height: 730px;
    position: absolute;
}

.sky{

    background-image: url('https://github.com/kubowania/flappy-bird/blob/master/fb-game-background.png?raw=true');
    width: 500px;
    height: 500px;
    position: absolute;
  
}

.ground{
    background-image: url('https://github.com/kubowania/flappy-bird/blob/master/bottom-background.png?raw=true');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px; 
}

.bird{
    background-image: url('https://github.com/kubowania/flappy-bird/blob/master/flappy-bird.png?raw=true');
    position:absolute ;
    width: 60px;
    height:45px ;
}

.obstacle{
    background-image: url('https://github.com/kubowania/flappy-bird/blob/master/flappybird-pipe.png?raw=true');
    width: 60px; 
    height: 300px;
    position: absolute;

}